@use '../../mixins';

.boxRegister {
    min-width: 350px;
    max-width: 50%;
    // margin: 2rem auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    & .formRegisterSuplier {
        & .sectionInputRadio{
            margin-top: 1rem;
            & > label {
                margin-bottom: 1rem;
            }          
            & > div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;               
            }
        }
        & > button {
            padding: 8px;
            border: none;
            width: 100%;
            border-radius: 4px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.318);
            margin-top: 2rem;
        } 
    }
}