.recentlyEvents {
  padding: 0 16px;

  & h2 {
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
  }

  & nav {
    overflow-x: scroll;

    & ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 1rem 0;
      gap: 1rem;

      & li {
        padding: 4px 8px;
        border: 1px solid #e56700;
        border-radius: 16px;
        text-align: center;
      }
    }
  }
}
